* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #48c1a1;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[disabled] {
    opacity: 0.5;
}
.btn-recover {
    background-color: gray;
}

.btn-recover:hover {
    background-color: #959595;
}
button:hover {
    background: #3da086;
}

a {
    color: #48c1a1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p#message {
    color: red;
    margin-top: 10px;
}